.input-group-prepend {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 0.5rem;
}
.input-group-append {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: #ebebeb;
}
.ms-container {
    width: 100%;
}
