.input-group-prepend {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 0.5rem;
}
.input-group-append {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: #ebebeb;
}
.ms-container {
    width: 100%;
}

.image-list .ui-sortable-placeholder {
    background: #f0f0f0;
    height: 100%;
    min-height: 200px;
    visibility: visible !important;
}

/******
 SELECT2
 */
.select2-container--default .select2-selection--single:not([size]):not([multiple]) {
    height: 2.75rem !important;
}
.select2-container--default .select2-selection--single {
    color: #878787;
    border: 2px solid #ebebeb !important;
    border-radius: 0 !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #878787 !important;

}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #878787 transparent transparent !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b:after {
    display: none;
}
