.input-group-prepend {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 0.5rem;
}
.input-group-append {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: #ebebeb;
}
.ms-container {
    width: 100%;
}

.image-list .ui-sortable-placeholder {
    background: #f0f0f0;
    height: 100%;
    min-height: 200px;
    visibility: visible !important;
}
