#loading {
    background-color: transparent;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    margin-top: 0px;
    top: 0px;
    transition: opacity $transition-speed-slow ease-out;
    opacity: 0;
    -webkit-animation: fadeIn 1s forwards;
    animation: fadeIn 2s forwards;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.loaded #loading {
    left: 200vw;
}

#loading-center {
    width: 100%;
    height: 100%;
    position: relative;
}

#loading-center-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 150px;
    width: 150px;
    margin-top: -75px;
    margin-left: -75px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);

}

.object {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 65px;
    top: 65px;
    -moz-border-radius: 50% 50% 50% 50%;
    -webkit-border-radius: 50% 50% 50% 50%;
    border-radius: 50% 50% 50% 50%;
}

.object:nth-child(2n+0) {
    margin-right: 0px;

}

#object_big {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50px;
    top: 50px;
    transform: rotate(-45deg);
    -webkit-animation: object_big 2s infinite;
    animation: object_big 2s infinite;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    background: transparent;

}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}

@-webkit-keyframes object_big {
    50% {
        -webkit-transform: scale(0.5)  rotate(-45deg);
        transform: scale(0.5) rotate(-45deg);
    }

}

@keyframes object_big {
    50% {
        transform: scale(0.5) rotate(-45deg);
        -webkit-transform: scale(0.5) rotate(-45deg);
    }

}

@-webkit-keyframes object_one {
    50% {
        -webkit-transform: translate(-65px, -65px);
    }

}

@keyframes object_one {
    50% {
        transform: translate(-65px, -65px);
        -webkit-transform: translate(-65px, -65px);
    }

}

@-webkit-keyframes object_two {
    50% {
        -webkit-transform: translate(0, -65px);
    }
}

@keyframes object_two {
    50% {
        transform: translate(0, -65px);
        -webkit-transform: translate(0, -65px);
    }

}

@-webkit-keyframes object_three {
    50% {
        -webkit-transform: translate(65px, -65px);
    }
}

@keyframes object_three {
    50% {
        transform: translate(65px, -65px);
        -webkit-transform: translate(65px, -65px);
    }
}

@-webkit-keyframes object_four {

    50% {
        -webkit-transform: translate(65px, 0);
    }

}

@keyframes object_four {
    50% {
        transform: translate(65px, 0);
        -webkit-transform: translate(65px, 0);
    }

}

@-webkit-keyframes object_five {

    50% {
        -webkit-transform: translate(65px, 65px);
    }

}

@keyframes object_five {
    50% {
        transform: translate(65px, 65px);
        -webkit-transform: translate(65px, 65px);
    }

}

@-webkit-keyframes object_six {

    50% {
        -webkit-transform: translate(0, 65px);
    }

}

@keyframes object_six {
    50% {
        transform: translate(0, 65px);
        -webkit-transform: translate(0, 65px);
    }

}

@-webkit-keyframes object_seven {

    50% {
        -webkit-transform: translate(-65px, 65px);
    }

}

@keyframes object_seven {
    50% {
        transform: translate(-65px, 65px);
        -webkit-transform: translate(-65px, 65px);
    }

}

@-webkit-keyframes object_eight {

    50% {
        -webkit-transform: translate(-65px, 0);
    }

}

@keyframes object_eight {
    50% {
        transform: translate(-65px, 0);
        -webkit-transform: translate(-65px, 0);
    }

}
